footer {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: #fff;
    font-size: 0.875rem;
}
footer.hide {
    display: none;
}
footer img {
    height: 40px;
    margin-bottom: 30px !important;
    font-size: 1rem;
}
footer .copyright {
    color: rgba(255, 255, 255, 0.4);
}
footer h3 {
    margin-bottom: 18px;
    color: #fff;
}

footer a {
    color: #fff !important;
    font-size: 1rem;
}

footer .socials a {
    margin: 0 16px;
    font-size: 1.5rem;
    text-decoration: none !important;
}

footer .footer-wrapper {
    max-width: 677px;
    margin: 0 auto;
}

footer .comp-desc a {
    color: #8c8c8c !important;
    font-size: 0.75rem;
    text-decoration: underline;
}

footer .comp-desc {
    font-size: 0.75rem;
    line-height: 1.75;
}

footer p {
    color: #8c8c8c;
}

footer .select-wrapper p {
    color: #fff;
    font-size: 1rem;
    margin-bottom: 7px;
    line-height: 1.5;
}

footer .select-wrapper {
    margin-bottom: 37px;
}

footer .select2-container {
    max-width: 250px;
}

footer .select2-container--default .select2-selection--single {
    background: transparent;
    color: white;
    margin: 0 auto;
}

footer
    .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: white;
    font-size: 1rem !important;
}

.select2-dropdown.footer-dropdown {
    background-color: #252525 !important;
    max-width: 250px;
    min-width: unset;
    overflow: hidden;
}

.footer-dropdown
    .select2-container--default
    .select2-results
    > .select2-results__options {
    max-height: 100px !important;
}

.footer-dropdown ul {
    max-height: 120px !important;
}

.footer-dropdown ul li {
    color: #fff !important;
}

.footer-dropdown ul li.select2-results__option--selected {
    color: #252525 !important;
    font-size: 0.875rem !important;
}

.footer-dropdown ul li {
    font-size: 0.875rem !important;
}

.footer-dropdown ul li.select2-results__option--highlighted {
    color: #252525 !important;
    font-size: 0.875rem !important;
}

footer .select-container.rotate span.arrow-icon {
    transform: translateY(-50%) rotate(180deg);
}

footer
    .select2-container
    .select2-selection--single
    .select2-selection__rendered {
    display: block;
    max-width: 250px;
    padding-right: 1.4rem !important;
    padding-left: 1.4rem !important;
}

footer .select-container {
    position: relative;
    display: inline-block;
    width: 200px;
}

.footer-dropdown .select2-search--dropdown .select2-search__field:focus {
    border: none !important;
}

footer .select2-container .select2-selection--single {
    border: 1px solid #fff;
    display: flex;
    text-align: center;
    justify-content: center;
}

footer .select2-container--default .select2-selection--single {
    border-radius: 6px !important;
}

footer
    .select2-container--default.select2-container--open.select2-container--below
    .select2-selection--single {
    border-radius: 6px !important;
}

footer .select-container span.arrow-icon {
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 50%;
    background-color: transparent !important;
    -webkit-transform: translateY(-50%);
    /* WebKit */
    -moz-transform: translateY(-50%);
    /* Mozilla */
    -o-transform: translateY(-50%);
    /* Opera */
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
    font-size: var(--font-size-ten);
    transition: transform 250ms ease;
}

@media (min-width: 768px) {
    footer {
        padding: 90px 0 70px;
    }
}
