@import "_variable.scss";

.button {
    width: fit-content !important;
    font-size: $tenpx;
    font-weight: 400 !important;
    padding: 0.3rem 0.7rem !important;
    cursor: pointer !important;
    word-break: break-all;
}

.d-flex {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;
}

.mb-5 {
    margin-bottom: 2rem !important;
}
.mt-5 {
    margin-top: 2rem !important;
}

.pt-5 {
    padding-top: 2rem !important;
}

.gray-font {
    color: $dark-gray !important;
}

.caption {
    font-size: 0.85rem;
    color: #000;
}

.text-btn {
    background: none;
    outline: none !important;
    border: none;
}

.twentyfivebold {
    font-size: 1.6rem !important;
    font-weight: 700;
}

.fourteenbold {
    font-size: 1.17rem !important;
    font-weight: 700;
}

.tenpx {
    font-size: 0.833rem;
}

.elevenpx {
    font-size: 0.917rem;
}

.twelvepx {
    font-size: $twelvepx;
}

.sixteenpx {
    font-size: 1.333rem;
}

.ninepx {
    font-size: 0.75rem;
}

.font-weight-light {
    font-weight: 400;
}

.font-weight-x-bold {
    font-weight: 800;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.eightpx {
    font-size: $eightpx;
}

.pointer {
    cursor: pointer;
}

.break-word {
    word-break: break-all;
}

.btn-primary {
    min-height: 46px;
    padding: 0 36px;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 800;
    background-color: $primary;
    border-color: $primary;
    color: #fff !important;
    word-break: break-all;

    &:hover {
        background-color: $dark-hover;
    }

    &:focus,
    &:active {
        background-color: #ffeded !important;
        border: 1px solid #ffeded !important;
        box-shadow: none !important;
    }
}

.btn-outline-primary,
.btn-fill-light,
.btn-edit-sm {
    min-height: 46px;
    padding: 0 36px;
    border-radius: 4px;
    font-weight: 800;
    border-color: $primary;
    color: $primary;
    border: 1px solid $primary;
    outline: none;
    word-break: break-all;
}

.btn-fill-light.active {
    background-color: $primary;
    color: #fff !important;
}

.btn-fill-light.active:hover {
    background-color: $dark-hover;
}

.btn-outline-primary:hover,
.btn-fill-light:hover,
.btn-edit-sm:hover {
    background-color: $primary;
}

a.btn.btn-primary {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn-rounded {
    border-radius: 2rem;
}
.btn-fill-light {
    background: #ffeded;
    border-radius: 3rem;
    min-height: unset;
    padding: 0.375rem 0.75rem;
    color: $primary !important;
    width: 100%;

    &:hover {
        color: #fff !important;
    }
    svg {
        margin-left: 0;
    }
}

.btn-edit-sm {
    padding: 0.2rem 0.8rem;
    border-radius: 1rem;
    font-size: 0.7rem;
    min-height: 1rem;

    &:hover {
        color: #fff;
    }
}

.btn {
    &.focus,
    &:focus {
        outline: none;
        box-shadow: none;
    }
}
