.modal-header {
  border-bottom: none;
  padding: 0;
}

.modal-heading h2 {
  font-weight: 700;
}

.modal-content {
  padding: 1rem;
  border-radius: 1rem;
}

.modal-body {
  padding: 0 1rem 1rem;
}

.modal form label {
  font-weight: 700;
}
.modal {
  overflow: auto !important;
}

.modal-dialog {
  justify-content: center;
}

.modal-footer {
  border: none;
  padding-top: 0;
}

#deleteModal {
  .modal-content {
    width: auto;
    padding: 0;
    p.text-message {
      color: red;
    }
    .modal-body {
      padding: 2rem;

      .btn-fill-light {
        background-color: transparent;
        min-width: 120px;

        &:hover {
          background-color: #76cc11;
        }

        &.active {
          background-color: #76cc11;

          &:hover {
            background-color: #6fc211;
          }
        }
      }
    }
  }
}
#deleteModalProfile {
  .modal-content {
    width: auto;
    padding: 0;
    p.text-message {
      color: red;
    }
    .modal-body {
      padding: 2rem;

      .btn-fill-light {
        background-color: transparent;
        min-width: 120px;

        &:hover {
          background-color: #76cc11;
        }

        &.active {
          background-color: #76cc11;

          &:hover {
            background-color: #6fc211;
          }
        }
      }
    }
  }
}
#thumbnailModal {
  .btn {
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-weight: 700;
  }

  .modal-content {
    max-width: 400px;
  }
}

.croppie-imgcover-modal {
  .modal-body {
    .croppie-container .cr-boundary {
      position: relative;
      overflow: hidden;
      margin: 0 auto;
      z-index: 1;
      // width: 80%;
      height: 0px;
      padding-bottom: 30%;
    }

    .file-input-container {
      position: relative;
      // max-width: 120px;
      display: flex;
      align-items: center;

      label {
        border: 1px solid black;
        font-size: $tenpx;
        // height: 100%;
        // width: 100%;
        min-width: 105px;
        max-height: 40px;
        background-color: transparent;
        border-radius: 30px;
        padding: 0.5rem 1rem;
        margin-right: 0.5rem;
        margin-bottom: 0;
      }
      input[type="file"] {
        margin-top: 1rem;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        border: 1px solid #76cc11;
        width: 0;
        height: 0;
      }

      p {
        font-size: $tenpx;
        margin-bottom: 0;
        word-wrap: break-word;
        word-break: break-all;
      }
    }
  }
  .modal-footer {
    button {
      background-color: #76cc11;

      &:hover {
        background-color: #6fc211 !important;
      }
      &:disabled {
        background-color: grey;
        cursor: not-allowed;
        &:hover {
          background-color: #888888 !important;
        }
      }
    }
  }
}

// profile
.croppie-img-modal {
  .modal-body {
    .croppie-container .cr-boundary {
      position: relative;
      overflow: hidden;
      margin: 0 auto;
      z-index: 1;
      // width: 80%;
      height: 0px;
      padding-bottom: 100%;
    }

    .file-input-container {
      position: relative;
      // max-width: 120px;
      display: flex;
      align-items: center;

      label {
        border: 1px solid black;
        font-size: $tenpx;
        // height: 100%;
        // width: 100%;
        min-width: 105px;
        max-height: 40px;
        background-color: transparent;
        border-radius: 30px;
        padding: 0.5rem 1rem;
        margin-right: 0.5rem;
        margin-bottom: 0;
      }
      input[type="file"] {
        margin-top: 1rem;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        border: 1px solid #76cc11;
        width: 0;
        height: 0;
      }

      p {
        font-size: $tenpx;
        margin-bottom: 0;
        word-wrap: break-word;
        word-break: break-all;
      }
    }
  }
  .modal-footer {
    button {
      background-color: #76cc11;

      &:hover {
        background-color: #6fc211 !important;
      }
      &:disabled {
        background-color: grey;
        cursor: not-allowed;
        &:hover {
          background-color: #888888 !important;
        }
      }
    }
  }
}
// @media (max-width: 576px) {
//   .croppie-imgcover-modal {
//     .cr-boundary {
//       width: 250px !important;
//       height: 250px !important;
//     }
//   }
// }

@media (min-width: 576px) {
  .croppie-imgcover-modal {
    .modal-dialog {
      max-width: 75%;
      //   width: 50%;
      margin: 1.75rem auto;
    }
  }
  .croppie-img-modal {
    .modal-dialog {
      max-width: 390px;
      //   width: 50%;
      margin: 1.75rem auto;
    }
  }
}
