$primary: #e94151;
$dark-hover: #dd283a;
$pink: #ffeded;

$gray: #c2c2c2;
$dark-gray: #888787;
$border-radius-input: 10px;

$tenpx: 0.833rem;
$elevenpx: 0.917rem;
$eightpx: 0.667rem !important;
$sixteen: 1.333rem !important;
$ninepx: 0.75rem;
$twelvepx: 1rem;
